{% extends 'base_bootstrap.html' %}
{% block navbar %}
<!-- https://www.w3schools.com/bootstrap/bootstrap_navbar.asp -->
<nav class="navbar navbar-expand-lg" style="background-color: #f8e7ae;">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>




      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home:home_list' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'videos:all' %}">ZoukList</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Contact</a>
          </li>


        </ul>
      </div>
    </nav>







{% endblock %}