body {
    
    background-color: #2d2727;
    color: #f8e7ae;
    font-family: 'Arial','Times New Roman', Times, serif;
    
    /*ZOUKWAY Main font is 'Stencil std' and the other one 'Marbre'*/
   /* background: white url("images/zoukway_logo.jpg") no-repeat;*/
    /*background: #2d2727 url('/static/images/zoukway_logo.jpg')no-repeat center bottom;
    */
   background-image:  url('/static/images/zoukway_logo_sz.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center; 

   

   
 
 

  }
  .card {
    
    background-color: rgb(18, 24, 107);

}

 
  #first {
      
      padding-top: 27%;
      padding-left: 42%;

  }

  
 